In [1]:
# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')

import os, sys, gc, warnings, random

import datetime
import dateutil.relativedelta

# Data manipulation
import pandas as pd 
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Machine learning
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score, precision_recall_curve, roc_curve
from sklearn.model_selection import train_test_split, cross_val_score, KFold, StratifiedKFold, GroupKFold
from sklearn.ensemble import RandomForestClassifier

import lightgbm as lgb

from tqdm.notebook import trange, tqdm

from IPython.display import display

%matplotlib inline

pd.options.display.max_rows = 200
pd.options.display.max_columns = 200
pd.options.display.max_colwidth = 200

In [2]:
def seed_everything(seed=0):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
    
SEED = 42
seed_everything(SEED)

In [12]:
TOTAL_THRES = 300

'''
    입력인자로 받는 year_month에 대해 고객 ID별로 총 구매액이
    구매액 임계값을 넘는지 여부의 binary label을 생성하는 함수
'''

#import src.utils as utils

from src.features import *

In [4]:
generate_label

In [5]:
df = pd.read_csv('/opt/ml/code/input/train.csv', parse_dates=['order_date'])

In [6]:
# (df, ref_date, period, feature, col_prefix):
ret = make_feature(df, '2011-11', ('d', 7, 0), ['min', 'max', 'mean', 'std'], 'test')

ret_data.shape (455, 14)

ret[0]

In [8]:
ret[0]

,customer_id,test-quantity-min,test-quantity-max,test-quantity-mean,test-quantity-std,test-price-min,test-price-max,test-price-mean,test-price-std,test-total-min,test-total-max,test-total-mean,test-total-std,year_month
0,12347,2,48,14.382979,9.085471,0.6930,21.0375,4.239447,3.829652,13.860,175.2300,45.438894,33.110931,2011-11
1,12362,1,24,6.350000,5.445648,0.4785,49.4175,9.812000,8.823741,11.484,99.0000,35.368025,18.701749,2011-11
2,12364,2,24,12.181818,5.404023,0.6930,24.7500,3.249750,5.312477,8.316,49.5000,22.429500,10.565730,2011-11
3,12371,9,9,9.000000,NaN,66.0000,66.0000,66.000000,NaN,594.000,594.0000,594.000000,NaN,2011-11
4,12398,4,36,16.400000,8.449007,0.6435,66.0000,3.287965,7.290555,10.956,330.0000,31.751047,37.009646,2011-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450,18261,4,12,7.333333,3.723797,2.0625,7.0125,4.493500,1.919303,24.750,32.6700,27.346000,3.109130,2011-11
451,18272,2,48,11.413793,10.702194,0.4785,13.6125,4.926672,3.913839,10.956,58.9050,34.379741,14.888415,2011-11
452,18276,2,36,13.285714,9.530748,1.0725,13.6125,4.095536,3.681484,13.035,163.3500,39.583500,37.594633,2011-11
453,18283,1,5,1.605263,1.103789,0.6435,26.3175,3.552711,4.653922,0.693,26.3175,4.906145,5.422904,2011-11
454,18287,24,48,36.000000,12.000000,0.4785,2.0625,1.061500,0.870808,11.484,74.2500,38.874000,32.136036,2011-11

In [13]:
# (df, ref_date, period, feature, col_prefix):
ret = make_feature(df, '2011-11', ('d', 7, 0), ['min', 'max', 'mean', 'std'], 'test')

ret_data.shape (455, 14)

In [14]:
ret[2]

IndexError: tuple index out of range